name: "PR workflow"

on: 
  pull_request: 
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run tests
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          target: tester
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max


